{
  "branch": "140-sr-rebase",
  "verifyConditions": ["@semantic-release/git", "@semantic-release/gitlab"],
  "prepare": [
    {
      "path": "@semantic-release/git",
      "message": "chore(release): ${nextRelease.version}\n\n${nextRelease.notes}"
    }
  ],
  "publish": ["@semantic-release/gitlab"],
  "success": false,
  "fail": false
}
